@import 'tailwindcss';

@layer components {
  .btn-primary {
    border-radius: calc(infinity * 1px);
    background-color: var(--color-green-600);
    padding-inline: --spacing(5);
    padding-block: --spacing(2);
    font-weight: var(--font-weight-semibold);
    color: var(--color-white);
    box-shadow: var(--shadow-md);
    &:hover {
      @media (hover: hover) {
        background-color: var(--color-green-400);
      }
    }
  }
}

@font-face {
  font-family: 'Inconsolata';
  src: url('/fonts/Inconsolata.ttf') format('truetype');
  font-style: normal;
}
html {
  font-family: Inconsolata;
}
